body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.form-group #result {
	position: absolute;
	float: left;
	top: 50%;
	z-index: 1000;
}

.ac-result-list {
	cursor: pointer;
}