# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Project Files
# =========================
data/store1/
data/store2/
data/store3/
data/store6/
data/store7/
data/store8/
data/store10/
data/store12/
data/store13/
data/store15/
data/store16/
data/store17/
data/sales/
sql/
data/store 12/InventoryList.csv
data/store 10/InventoryList.csv
data/store 1/SalesSummary.csv
data/store 1/InventoryList.csv
data/store 10/SalesSummary.csv
data/store 12/SalesSummary.csv
data/store 13/InventoryList.csv
data/store 13/SalesSummary.csv
data/store 15/InventoryList.csv
data/store 15/SalesSummary.csv
data/store 16/InventoryList.csv
data/store 16/SalesSummary.csv
data/store 17/InventoryList.csv
data/store 17/SalesSummary.csv
data/store 3/InventoryList.csv
data/store 3/SalesSummary.csv
data/store 6/InventoryList.csv
data/store 6/SalesSummary.csv